
.suggestions {
	
	display: inline-block;
    float: none;
	position: fixed;
	margin: 0 auto; 
    left: 0px; 
    bottom: 190px;
    height: 220px;
    width: 400px;
    overflow: hidden;
    align-items: center;
    
/*	
	align-items: center;
	width: 100%;
    color: #333333;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;    
*/    
    
	z-index:998;
}


.suggestions .panelz {
    height: 30px;
    width: 100%;
}

.suggestions .panelz .closeDiv{
	
    height: 30px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    z-index:998;
}

.slide-left  p{
	
	animation: 30s slide-left;
}

.slide-down {
	
	animation: 20s slide-down infinite alternate ;
	text-align: center;
}

#logo {
	background: url(../images/gif/action_sale.gif) no-repeat center center;
	/* background-size: content;
	background-repeat: no-repeat; */
	height: 100%;
	width: 100%;
}


@keyframes slide-left {
		  from {
		    margin-left: 100%;
		    width: 300%; 
		  }

		  to {
		    margin-slow: 0%;
		    width: 100%;
		  }
}


@keyframes slide-down {
  from {
    margin-top: -100%;
    height: 300%; 
  }

  to {
    margin-top: 0%;
    height: 100%;
  }
}


